#timer
  @extend .row

#timer-time-counter
  @extend .text-center
  &.running a
    color: white

#timer-entry-actions
  margin-top: 20px
  width: 100%
  margin: 0
  font-size: 1.5em

#timer-entry-actions-save, #timer-entry-actions-delete
  @extend .columns
  @extend .large-6
  @extend .small-6
  @extend .text-center
  color: $font-color
  border: 1px solid $border-color
  line-height: 45px

#timer-entry-actions-save-icon
  @extend .fa
  @extend .fa-fw
  @extend .fa-check

#timer-entry-actions-delete-icon
  @extend .fa
  @extend .fa-fw
  @extend .fa-trash-o

#timer-entry-properties
  @extend .columns
  @extend .large-12
  #timer-entry-properties-additional-info
    height: 0
    overflow-y: hidden
  &.show-additional-info #timer-entry-properties-additional-info
    height: auto
    overflow-y: visible

.timer-entry-properties-row
  padding: 0 10px 0 10px
  border: 1px solid $border-color
  @extend .row
  margin-top: 20px !important
