.entries-list-item-form
  .entries-list-item-form-quick-input
    .entries-list-item-form-flow-controls
      - if renderControls
        %a.continue-icon(ng-hide="entry.running" ng-click="continue(entry)")
        %a.pause-icon(ng-show="entry.running" ng-click="pause(entry)")
    %ti-elapsed-entry(model="entry" elapsed="entry.elapsed" disabled="entry.running")
    - unless renderControls
      .entries-list-item-form-last-tick
        {{ entry.lastTick | date:'shortDate'  }}

  .entries-list-item-form-main-inputs
    .entries-list-item-form-project.narrow
      %ti-project-entry(on="entry.project" update="entry.save()" suggestion-domain="projects")
    .entries-list-item-form-description.narrow
      %textarea.description-entry(ng-model="entry.description" ng-blur="entry.save()" placeholder="Description"  msd-elastic)
    .entries-list-item-form-tags.narrow
      %ti-tag-entry(on="entry.tagList" suggestion-domain="tags" update="entry.save()" placeholder="+Tag")

.entries-list-item-form-hidden-actions
  %a
    %i.copy-icon(ti-copy copy-source="entry.tagList" copy-comment="entry.description")
  - if deleteFromQuery
    %a(ng-click="query.deleteEntry(entry)" ng-hide="entry.current")
      %i.delete-icon
  - else
    %a(ng-click="remove(entry)" ng-hide="entry.current")
      %i.delete-icon
