<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="ZenTimerCtrl">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()"  fittext watch="timer.currentEntry.elapsed" compressor="0.75">

            <div id="left-from-timer" class="text-center" style="float:left; width: 15%; min-height: 1px">
              <a><i id="timer-actions-save" class="fa fa-check" ng-show="timer.savable()" ng-click="done(); $event.stopPropagation()"></i></a>
            </div>

            <a class="timer-toggle" style="float:left; display: block; width: 70%;">
              <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>
            </a>

            <div id="right-from-timer" class="text-center" style="width: 15%; float: left; ">
              <a><i id="timer-actions-delete" ng-show="!timer.currentEntry.running && timer.currentEntry.elapsed > 0" class="fa fa-trash-o" ng-click="delete(); $event.stopPropagation();" ></i></a>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
            <%#<div style="background-color: #34495e; min-height: 45px; font-size: 1.5em;">%>
              <%#<div style="background-color: #2c3e50; float: left; margin: 10px; padding: 15px; padding-right: 10px;">Konzeption<i class="fa fa-times-circle fa-fw"></i></div>%>
              <%#[><div style="background-color: #2c3e50; float: left; margin: 10px; padding: 15px; padding-right: 10px;">Refactoring<i class="fa fa-times-circle fa-fw"></i></div><]%>
              <%#<input type="text"></input>%>
              <%#<div style="clear: both"></div>%>
            <%#</div>%>
            <ti-tag-entry on="timer.currentEntry.description" update="timer.currentEntry.persist()"></ti-tag-entry>
            <%#<textarea placeholder="..." ng-model="timer.currentEntry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false; persistCurrentEntry()"></textarea>%>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
    <div class="row entry-row" ng-repeat="entry in entries | orderBy:'lastTick':true" ng-controller="EntryCtrl">
      <div class="entry" style="display: table; width: 100%;">
        <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
        <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

        <div class="">
          <div class="entry-top-level-row">
            <div class="entry-top-level-row-elapsed-entry">
              <ti-elapsed-entry model="entry" elapsed="entry.elapsed" disabled="entry.running" ></ti-elapsed-entry>
            </div>
            <div class="entry-top-level-row-project-entry">
              <span>
                <form name="entryProjectForm" class="entry-edit-project" ng-submit="entry.persist()">
                  <i class="fa fa-square-o fa-fw"></i>
                  <input type="text" ng-model="entry.project" class="project-edit" placeholder="Project" ng-blur="persist()">
                </form>
              </span>
            </div>
          </div>


              <ti-tag-entry on="entry.description" update="entry.persist()"></ti-tag-entry>
              <%#<form name="asdasd" style="position:relative">%>
                <%#<a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>%>
                <%#<textarea type="text" ng-model="entry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false; persist()" class="description-edit" placeholder="..."></textarea>%>
              <%#</form>%>

        </div>


      </div>

        <div class="entry-row-hidden">
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
            <a>
              <i ti-copy copy-source="entry.description" class="fa fa-file fa-fw"></i>
              <br>
            </a>
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="delete()">
              <i class="fa fa-trash-o fa-fw"></i>
              <br>
            </a>
          </div>
        </div>

    </div>

    <div style="width: 100%; position:fixed; bottom: 0px;">
      <a id="add-entry" class="large-12 columns text-center" style="font-size: 1.5em;" ng-click="addEntry()">
        <i class="fa fa-plus fa-fw"></i>
      </a>
      <span ng-controller="CreateUserCtrl">
        <div id="left-icons">
          <a id="entries-clear" ng-click="clear()" class="fa fa-trash-o fa-fw" ng-show="entries.length > 0"> </a>
          <a id="create-user" class="fa fa-user fa-fw" ng-click="createUser()" ng-if="!user"> </a>
          <a ng-href="/{{user.token}}" id="create-user" class="fa fa-user fa-fw" ng-click="createUser()" ng-if="user" target="_self" name="ZenTimer" title="Drag me to your bookmarks!"><span style="display: none;">ZenTimer</span></a>
        </div>
      </span>
      <span id="bottombar-right">
        <span id="appInfo" ng-controller="helpCtrl">
          <a id="help-link" class="fa fa-question-circle fa-fw" ng-click="displayAppInfo = true"></a>
          <div id="app-info-modal" ti-reveal-modal="displayAppInfo" class="reveal-modal">
            <h2>Welcome To ZenTimer.</h2>
            <p>
              <h3>Keyboard Shortcuts:</h3>
              <ul>
                <li><kbd>Ctrl-Y</kbd> toggles the current entry.</li>
                <li><kbd>&gt;</kbd> saves the current entry and starts a new one.</li>
              </ul>
            </p>
            <p>
              <h3>Legal Tags:</h3>
              <ul>
                <li>Konzeption</li>
                <li>Integration/Deployment</li>
                <li>Testing</li>
                <li>Qualitätssicherung</li>
                <li>Nachbesserungen</li>
                <li>Bugfixing</li>
                <li>Refactoring</li>
                <li>Projektkoordination</li>
                <li>Support</li>
                <li>Kunden-Meeting</li>
                <li>Team-Meeting</li>
                <li>Pair Programming</li>
                <li>Cross-Browser</li>
                <li>Infrastruktur</li>
                <li>SEO</li>
                <li>Conversion-Optimierung</li>
                <li>Design</li>
              </ul>
            </p>
            <a class="close-reveal-modal"ng-click="displayAppInfo = false">&#215;</a>
          </div>
        </span>

        <span id="entries-total-elapsed" >
          <ti-elapsed elapsed="totalElapsed()" > </ti-elapsed>
        </span>
      </span>
    </div>

  </div>

</div>
