<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="ZenTimerCtrl" ng-init="timer.init()">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()"  fittext data-compressor="{{ timer.currentEntry.elapsed > 3600 ? '0.7' : '0.6' }}">
            <div id="left-from-timer" class="text-left" style="float:left; width: 20%; min-height: 1px">
              <%#<div class="spinner" ng-class="{ spinnerPaused: !timer.currentEntry.running, spinnerRunning: timer.currentEntry.running }" ng-show="timer.currentEntry.running"></div>%>
              <a><i id="timer-actions-save" class="fa fa-check fa-fw" ng-show="timer.savable()" ng-click="save(); $event.stopPropagation()"></i></a>
            </div>
            <a class="timer-toggle" style="float:left; display: block; width: 60%;">

              <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>

            </a>
            <div id="right-from-timer" style="width: 20%; float: left;">
              <a><i id="timer-actions-delete" ng-show="!timer.currentEntry.running && timer.currentEntry.elapsed > 0" class="fa fa-trash-o fa-fw" ng-click="delete(); $event.stopPropagation();" ></i></a>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
            <textarea placeholder="..." ng-model="timer.currentEntry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
    <div class="row entry-row" ng-repeat="entry in entries | orderBy:'lastTick':true" ng-controller="EntryCtrl">
      <div class="entry" style="display: table; width: 100%;">
        <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
        <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

        <div class="">
          <div class="entry-top-level-row">
            <div class="entry-top-level-row-elapsed-entry">
              <ti-elapsed-entry model="entry" elapsed="entry.elapsed" disabled="entry.running" ></ti-elapsed-entry>
            </div>
            <div class="entry-top-level-row-project-entry">
              <span>
                <form name="entryProjectForm" class="entry-edit-project" ng-submit="entry.persist()">
                  <i class="fa fa-square-o fa-fw"></i>
                  <input type="text" ng-model="entry.project" class="project-edit" placeholder="Project">
                </form>
              </span>
            </div>
          </div>
          <div>

            <div class="entry-description text-left" style="padding-left: 5px;" >
              <form name="asdasd" style="position:relative">
                <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
                <textarea type="text" ng-model="entry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false" class="description-edit" placeholder="..."></textarea>
              </form>
            </div>

          </div>
        </div>


      </div>

        <div class="entry-row-hidden">
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="delete()">
              <i class="fa fa-trash-o fa-fw"></i>
              <br>
            </a>
          </div>
        </div>

    </div>


    <div style="width: 100%; position:fixed; bottom: 0px;">
      <a id="add-entry" class="large-12 columns text-center" style="font-size: 1.5em;" ng-click="addEntry()">
        <i class="fa fa-plus fa-fw"></i>
      </a>
      <span id="bottombar-right">
        <span id="appInfo" ng-controller="helpCtrl">
          <a id="help-link" class="fa fa-question-circle fa-fw" ng-click="displayAppInfo = true"></a>
          <div id="app-info-modal" ti-reveal-modal="displayAppInfo" class="reveal-modal">
            <h2>Welcome To ZenTimer.</h2>
            <p>
              <h3>Keyboard Shortcuts:</h3>
              <ul>
                <li><kbd>Ctrl-Y</kbd> toggles the current entry.</li>
                <li><kbd>&gt;</kbd> saves the current entry and starts a new one.</li>
              </ul>
            </p>
            <p>
              <h3>Legal Tags:</h3>
              <ul>
                <li>Konzeption</li>
                <li>Integration/Deployment</li>
                <li>Testing</li>
                <li>Qualitätssicherung</li>
                <li>Nachbesserungen</li>
                <li>Bugfixing</li>
                <li>Refactoring</li>
                <li>Projektkoordination</li>
                <li>Support</li>
                <li>Kunden-Meeting</li>
                <li>Team-Meeting</li>
                <li>Pair Programming</li>
                <li>Cross-Browser</li>
                <li>Infrastruktur</li>
                <li>SEO</li>
                <li>Conversion-Optimierung</li>
                <li>Design</li>
              </ul>
            </p>
            <a class="close-reveal-modal"ng-click="displayAppInfo = false">&#215;</a>
          </div>
        </span>

        <span id="entries-total-elapsed" >
          <ti-elapsed elapsed="totalElapsed()" > </ti-elapsed>
        </span>
      </span>
      <a id="entries-clear" ng-click="clear()" class="fa fa-trash-o fa-fw" ng-show="entries.length > 0"> </a>
    </div>

  </div>

</div>
