<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="TimerCtrl" ng-init="timer.init()">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()"  fittext data-compressor="0.6">
            <a><i id="timer-actions-delete" ng-show="!timer.currentEntry.running && timer.currentEntry.elapsed > 0" class="fa fa-times-circle fa-fw" ng-click="delete(); $event.stopPropagation();" ></i></a>
            <a class="timer-toggle">

              <i id="timer-actions-save" class="fa fa-check fa-fw" ng-show="timer.savable()" ng-click="save(); $event.stopPropagation()"></i>
              <i id="timer-actions-pause" class="fa fa-clock-o fa-fw" ng-hide="timer.savable()"></i>
              <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
            <textarea placeholder="..." ng-model="timer.currentEntry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
    <div class="row entry-row" ng-repeat="entry in entries | filter:hasRunOnce" ng-controller="EntryCtrl">
      <div class="entry" style="display: table; width: 100%;">
        <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
        <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

        <div class="">
          <div class="">
            <div class="large-6 small-6 columns text-left">
              <ti-elapsed-entry elapsed="entry.elapsed" disabled="entry.running" ></ti-elapsed-entry>
            </div>
            <div class="large-6 small-6 columns text-left ">
              <form name="dsadsa" class="entry-edit-project">
                <i class="fa fa-square-o fa-fw"></i>
                <input ng-model="entry.project" class="project-edit" placeholder="Project">
              </form>
            </div>
          </div>
          <div class="">

            <div class="large-12 small-12 columns entry-description text-left" ng-hide="editing">
              <input ng-model="entry.description" class="description-edit">
            </div>

            <%#<div class="large-12 small-12 columns entry-description text-left" ng-show="editing">%>
              <%#<form name="edit-entry" ng-submit="update(entryDouble)" ng-show="editing">%>
                <%#<input ng-model="entryDouble.description" class="description-edit">%>
                <%#[><input ng-model="entryDouble.elapsed" type="number"><]%>
                <%#<a ng-click="toggleEdit()">Cancel</a>%>
                <%#<input type="submit">%>
              <%#</form>%>
            <%#</div>%>

          </div>
        </div>


      </div>

        <div class="entry-row-hidden">
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="toggleEdit()" ng-enter="toggleEdit()">
              <i class="fa fa-edit fa-fw"></i>
            </a>
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="delete()">
              <i class="fa fa-trash-o fa-fw"></i>
              <br>
            </a>
          </div>
        </div>

    </div>

  </div>
</div>
