<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="TimerCtrl" ng-init="timer.init()">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()">
            <a class="timer-toggle">

              <i id="timer-actions-save" class="fa fa-check fa-fw" ng-show="timer.savable()" ng-click="save(); $event.stopPropagation()"></i>
              <i id="timer-actions-pause" class="fa fa-clock-o fa-fw" ng-hide="timer.savable()"></i>
              <ti-elapsed elapsed="timer.currentEntry.elapsed" >
                <span ng-show="hours > 0">{{ hours }} :</span> {{ minutes }} : {{ seconds }}
              </ti-elapsed>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <textarea placeholder="..." ng-model="timer.currentEntry.description"></textarea>
          </div>
        </div>

        <div class="timer-counter row">
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
    <div class="row entry-row" ng-repeat="entry in entries | filter:hasRunOnce" ng-controller="EntryCtrl">
      <div class="entry" style="display: table; width: 100%;">
        <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
        <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

        <div class="large-10 small-10 columns">
          <div class="row">
            <div class="large-12 small-12 columns text-left">
              <i class="fa fa-clock-o fa-fw"></i>
              <ti-elapsed elapsed="entry.elapsed" >
                <span ng-show="hours > 0">{{ hours }} :</span> {{ minutes }} : {{ seconds }}
              </ti-elapsed>
              <i class="fa fa-square-o fa-fw"></i>
              Project
            </div>
          </div>
          <div class="row">
            <div class="large-12 small-12 columns entry-description text-left">
              <span ng-hide="editing" ng-click="toggleEdit()">
                {{ entry.description }}
              </span>
              <form name="edit-entry" ng-submit="update(entryDouble)" ng-show="editing">
                <input ng-model="entryDouble.description" >
                <input ng-model="entryDouble.elapsed" type="number">
                <a ng-click="toggleEdit()">Cancel</a>
                <input type="submit">
              </form>
            </div>
          </div>
        </div>


      </div>

        <div class="entry-row-hidden">
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="toggleEdit()" ng-enter="toggleEdit()">
              <i class="fa fa-edit fa-fw"></i>
            </a>
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="delete()">
              <i class="fa fa-trash-o fa-fw"></i>
              <br>
            </a>
          </div>
        </div>

    </div>

  </div>
</div>
