<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="TimerCtrl" ng-init="timer.init()">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()">
            <a class="timer-toggle">

              <i id="timer-actions-save" class="fa fa-check fa-fw" ng-show="timer.savable()" ng-click="save(); $event.stopPropagation()"></i>
              <i id="timer-actions-pause" class="fa fa-clock-o fa-fw" ng-hide="timer.savable()"></i>
              <ti-elapsed elapsed="timer.currentEntry.elapsed" >
                <span ng-show="hours > 0">{{ hours }} :</span> {{ minutes }} : {{ seconds }}
              </ti-elapsed>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <textarea placeholder="..." ng-model="timer.currentEntry.description"></textarea>
          </div>
        </div>

        <div class="timer-counter row">
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
  <div class="row entry-row"  ng-repeat="entry in entries | filter:hasRunOnce" ng-click="continue(entry)">
    <div class="large-4 small-5 columns">
      <div class="entry-time" ng-class="{active: entry.running}">
        <ti-elapsed elapsed="entry.elapsed" >
          <span ng-show="hours > 0">{{ hours }} :</span> {{ minutes }} : {{ seconds }}
        </ti-elapsed>
      </div>
    </div>

    <div class="large-7 small-6 columns">
      <div class="entry-description" ng-class="{active: entry.running}">
        {{ entry.description }}
      </div>
    </div>

    <div id="entry-delete-tile" class="large-1 small-1 columns text-center">
      <div class="entry-delete-button">
        <a class="btn" ng-click="delete(entry); $event.stopPropagation()" >X</a>
      </div>
    </div>

  </div>
</div>

