<div id="timer">
  <div class="row">
    <div class="large-12 columns text-center">
      <div ng-controller="TimerCtrl" ng-init="timer.init()">

        <div class="row">
          <div class="timer-counter large-12 columns" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()"  fittext data-compressor="0.6">
            <a><i id="timer-actions-delete" ng-show="!timer.currentEntry.running && timer.currentEntry.elapsed > 0" class="fa fa-times-circle fa-fw" ng-click="delete(); $event.stopPropagation();" ></i></a>
            <a class="timer-toggle">

              <i id="timer-actions-save" class="fa fa-check fa-fw" ng-show="timer.savable()" ng-click="save(); $event.stopPropagation()"></i>
              <i id="timer-actions-pause" class="fa fa-clock-o fa-fw" ng-hide="timer.savable()"></i>
              <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="large-12 large-centered columns description-input">
            <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
            <textarea placeholder="..." ng-model="timer.currentEntry.description" ng-focus="descriptionFocused=true" ng-blur="descriptionFocused=false"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-controller="EntriesListCtrl">
    <div class="row entry-row" ng-repeat="entry in entries | orderBy:'lastTick':true" ng-controller="EntryCtrl">
      <div class="entry" style="display: table; width: 100%;">
        <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
        <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

        <div class="">
          <div class="entry-top-level-row">
            <div class="entry-top-level-row-elapsed-entry">
              <ti-elapsed-entry model="entry" elapsed="entry.elapsed" disabled="entry.running" ></ti-elapsed-entry>
            </div>
            <div class="entry-top-level-row-project-entry">
              <span>
                <form name="entryProjectForm" class="entry-edit-project" ng-submit="entry.persist()">
                  <i class="fa fa-square-o fa-fw"></i>
                  <input type="text" ng-model="entry.project" class="project-edit" placeholder="Project">
                </form>
              </span>
            </div>
          </div>
          <div>

            <div class="entry-description text-left" style="padding-left: 5px;" >
              <form name="asdasd">
                <a><i id="timer-actions-close-description" class="fa fa-times-circle fa-fw" ng-show="descriptionFocused" ng-click="descriptionFocused=false"></i></a>
                <textarea type="text" ng-model="entry.description" class="description-edit" placeholder="..."></textarea>
              </form>
            </div>

          </div>
        </div>


      </div>

        <div class="entry-row-hidden">
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
          </div>
          <div class="large-3 small-3 columns text-center">
            <a ng-click="delete()">
              <i class="fa fa-trash-o fa-fw"></i>
              <br>
            </a>
          </div>
        </div>

    </div>

  </div>
</div>
