#analytics-page.page(ng-controller = "analyticsCtrl")
  #filter-menu

    .filter-menu-primary-level
      .filter-menu-primary-level-item(ng-class="{active: (secondaryMenu=='dates'), inactive: (secondaryMenu!='dates' && secondaryMenu)}" ng-click="toggleSecondaryMenu('dates')")
        %i.time-filter-icon
        %a
          {{ query.selectedDateFilter.name }}
      .filter-menu-primary-level-item(ng-class="{active: (secondaryMenu=='tags'), inactive: (secondaryMenu!='tags' && secondaryMenu)}" ng-click="toggleSecondaryMenu('tags')")
        %i.tags-filter-icon
        %a
          ALL TAGS
      .filter-menu-primary-level-item(ng-class="{active: (secondaryMenu=='projects'), inactive: (secondaryMenu!='projects' && secondaryMenu)}" ng-click="toggleSecondaryMenu('projects')")
        %i.projects-filter-icon
        %a
          ALL PROJECTS

    .filter-menu-secondary-level(ng-if="secondaryMenu=='dates'")
      .filter-menu-secondary-level-item(ng-repeat="dateFilter in query.dateFilters" ng-class="{active: (query.selectedDateFilter == dateFilter) }" ng-click="selectSecondaryMenu(dateFilter)")
        %a
          {{ dateFilter.name }}

    .filter-menu-tertiary-level(ng-if="tertiaryMenu=='fromTo' && secondaryMenu == 'dates'")
      .filter-menu-tertiary-level-item
        FROM
      .filter-menu-tertiary-level-item
        %i.time-filter-icon
        %datepicker(ng-model="query.selectedDateFilter.from" disable-timepicker="true" default-time="00:00" on-change="query.fetch()")
      .filter-menu-tertiary-level-item
        TO
      .filter-menu-tertiary-level-item
        %i.time-filter-icon
        %datepicker(ng-model="query.selectedDateFilter.to" disable-timepicker="true" default-time="23:59" on-change="query.fetch()")

    .filter-menu-secondary-level(ng-if="secondaryMenu=='tags'" ng-init="query.fetchTagDomain()")
      .filter-menu-secondary-level-full-item
        Include Tags
        %ti-tag-entry(on="query.tags.include" suggestion-domain="query.tagDomain" update="query.fetch()" placeholder="+Tag")
        Exclude Tags
        %ti-tag-entry(on="query.tags.exclude" suggestion-domain="query.tagDomain" update="query.fetch()" placeholder="+Tag")

    .filter-menu-secondary-level(ng-if="secondaryMenu=='projects'" ng-init="query.fetchProjectDomain()")
      .filter-menu-secondary-level-full-item
        Include Projects
        %ti-tag-entry(on="query.projects" suggestion-domain="query.projectDomain" update="query.fetch()" placeholder="+Project")

  .row
    .large-12.columns
      #analytics-head
        %h2.analytics-headline
          {{ query.selectedDateFilter.headline() }}
          %small.analytics-subheadline {{ query.selectedDateFilter.subheadline() }}
  %ti-bar-chart(chart-data="query.entriesGroupedByProject" chart-id="bar-chart" chart-title="{{ query.entryList.total() | elapsed }}" elapsed-filter="elapsedFilter" id="bar-chart-container")
  .row
    .large-12.columns
      #entries(ng-if="query.entryList.entries.length > 0")
        %h2.analytics-headline
          {{ query.entryList.total() | elapsed }}
          %small.analytics-subheadline
            {{query.entryList.entries.length }} Entries


        .entries-list
          .entries-list-item.entries-repeat-animation(ng-repeat="entry in query.paginatedEntries" ti-fill-screen="query.nextPage()")
            = render partial: 'entries/entry', locals: { renderControls: false, renderLoggedAt: true, deleteFromQuery: true }

        %ti-scroll-spy(update="query.nextPage()")

  #bottom-menu
    #left-icons  
    #center-icons
      &nbsp;
    #right-icons
      %a.fa.fa-fw.fa-refresh(ng-click="query.fetch()")
      %a.download-icon(ng-href="{{ query.csvUrl() }}")
