%a#show-menu.fa.fa-bars(ng-click="toggleMenu()" ng-class="{'open': menuVisible}")
%nav#menu.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(ng-controller="menuCtrl" ng-class="{'cbp-spmenu-open': menuVisible}")
  %h3(ng-click="toggleMenu()")
    %a
      ZenTimer
  #menu-links
    %a.link.row(ng-href="#/" ng-click="toggleMenu()")
      .menu-link-icon.timer-icon
      .menu-link-text
        Timer

    %a.link.row(ng-if="user" ng-href="#/analytics" ng-if="user" ng-click="toggleMenu()")
      .menu-link-icon.analytics-icon
      .menu-link-text
        Analytics

    %a.link.row(ng-href="#/settings" ng-click="toggleMenu()")
      .menu-link-icon.settings-icon
      .menu-link-text
        Settings

    %span(ng-controller="CreateUserCtrl")

      %a.row(ng-click="createUser()" ng-if="!user")
        .menu-link-icon.account-icon
        .menu-link-text
          Create Account

      %a.row(ng-href="/{{user.token}}" ng-if="user" target="_self" name="ZenTimer" title="Drag me to your bookmarks!" ng-click="toggleMenu()")
        .menu-link-icon.account-icon
        .menu-link-text
          Your Account

    %span#appInfo(ng-controller="helpCtrl")
      %a.link.row(ng-click="toggleMenu(); displayAppInfo = true")
        .menu-link-icon.help-icon
        .menu-link-text
          Help
      #help.reveal-modal(ti-reveal-modal="displayAppInfo")
        %h2 Welcome to ZenTimer
        %p
          ZenTimer is a responsive time-tracker focusing on ease-of-use and minimalism. By default, everything is stored in your browsers localStorage. If you choose to create 
          a permanent account (see the menu), you will be redirected to your private URL and your data will be stored on the server. You will also gain access to
          the analysis section of ZenTimer, allowing you to analyze and filter your entries.
        %p
          No matter whether you use an account or localStorage, the timer will keep running if you accidentally close your window.
        %p
          This is all more or less beta - while the feature set has been stable for a while now, please tell 
          %a(href="mailto:steffen.schildknecht@googlemail.com") me
          about bugs and suggest features if you need any.
        %p
          %h3 Keyboard Shortcuts
          %ul
            %li
              %kbd p
              toggles the current entry
            %li
              %kbd n
              saves the current entry and starts a new one
        %h3
          Credits
        %p
          ZenTimer is a project by 
          %a(href="http://twitter.com/stsc3000" target="_blanK") Steffen Schildknecht 
          born out of necessity and the idea of learning how to use angular.js in a Ruby on Rails context. 
          I have to thank 
          %a(href="http://twitter.com/milafrerichs" target="_blank")Mila Frerichs
          and 
          %a(href="http://twiter.com/johannesboyne" target="_blanK")Johannes Boyne
          for testing and suggestions.
        %a.close-reveal-modal(ng-click="displayAppInfo=false")
          &#215;
