%a#show-menu.fa.fa-bars(ng-click="toggleMenu()" ng-class="{'open': menuVisible}")
%nav#menu.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(ng-controller="menuCtrl" ng-class="{'cbp-spmenu-open': menuVisible}")
  %h3(ng-click="toggleMenu()")
    %a
      ZenTimer
  #menu-links
    %a.link.row(ng-href="#/" ng-click="toggleMenu()")
      .menu-link-icon.timer-icon
      .menu-link-text
        Timer

    %a.link.row(ng-if="user" ng-href="#/analytics" ng-if="user" ng-click="toggleMenu()")
      .menu-link-icon.analytics-icon
      .menu-link-text
        Analytics

    %a.link.row(ng-href="#/settings" ng-click="toggleMenu()")
      .menu-link-icon.settings-icon
      .menu-link-text
        Settings

    %span(ng-controller="CreateUserCtrl")

      %a.row(ng-click="createUser()" ng-if="!user")
        .menu-link-icon.account-icon
        .menu-link-text
          Create Account

      %a.row(ng-href="/{{user.token}}" ng-if="user" target="_self" name="ZenTimer" title="Drag me to your bookmarks!" ng-click="toggleMenu()")
        .menu-link-icon.account-icon
        .menu-link-text
          Your Account

    %span#appInfo(ng-controller="helpCtrl")
      %a.link.row(ng-click="toggleMenu(); displayAppInfo = true")
        .menu-link-icon.help-icon
        .menu-link-text
          Help
      #help.reveal-modal(ti-reveal-modal="displayAppInfo")
        %h2 Welcome to ZenTimer
        %p
          %h3 Keyboard Shortcuts
          %ul
            %li
              %kbd p
              toggles the current entry
            %li
              %kbd n
              saves the current entry and starts a new one
        %a.close-reveal-modal(ng-click="displayAppInfo=false")
          &#215;
