%a#show-menu.fa.fa-bars(ng-click="toggleMenu()" ng-class="{'open': menuVisible}")
%nav#menu.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(ng-controller="menuCtrl" ng-class="{'cbp-spmenu-open': menuVisible}")
  %h3(ng-click="toggleMenu()")
    %a
      ZenTimer
  #menu-links
    %a.link.row(ng-href="#/" ng-click="toggleMenu()")
      .menu-link-icon.fa.fa-clock-o
      .menu-link-text
        Timer

    %a.link.row(ng-if="user" ng-href="#/analytics" ng-if="user" ng-click="toggleMenu()")
      .menu-link-icon.fa.fa-bar-chart-o
      .menu-link-text
        Analytics

    %a.link.row(ng-href="#/settings" ng-click="toggleMenu()")
      .menu-link-icon.fa.fa-gear
      .menu-link-text
        Settings

    %span(ng-controller="CreateUserCtrl")

      %a.row(ng-click="createUser()" ng-if="!user" ng-click="toggleMenu()")
        .menu-link-icon.fa.fa-user
        .menu-link-text
          Create Permanent Account

      %a.row(ng-href="/{{user.token}}" ng-if="user" target="_self" name="ZenTimer" title="Drag me to your bookmarks!" ng-click="toggleMenu()")
        .menu-link-icon.fa.fa-user
        .menu-link-text
          Your ZenTimer Account

    %span#appInfo(ng-controller="helpCtrl")
      %a.link.fa.fa-question-circle(ng-click="toggleMenu(); displayAppInfo=true") Help
      #app-info-modal.reveal-modal(ti-reveal-modal="displayAppInfo")
        %h2 Welcome to ZenTimer
        %p
          %h3 Keyboard Shortcuts
          %ul
            %li
              %kbd Ctrl-Y
              toggles the current entry
            %li
              %kbd &gt;
              saves the current entry and starts a new one
        %a.close-reveal-modal(ng-click="displayAppInfo=false")
          &#215;
