#settings-page(ng-controller="settingsCtrl")
  .page(ng-class="{active: showPage}")
    .row
      .large-12.columns
        %h2 ZenTimer Settings
      %p
        %h3 Tags
        Add tags here to enable autocomplete for your entry description.
        %ti-tag-entry(on="tags" update="saveTags()")
      %p
        %h3 Projects
        Add projects here to enable autocomplete for your projects
        %ti-tag-entry(on="projects" update="saveProjects")

