#settings-page(ng-controller="settingsCtrl")
  .page(ng-class="{active: showPage}")
    .row
      .large-12.columns
        %h2 ZenTimer Settings
    .row
      .large-12.columns
        %p
          %h3 Tags
          Add tags here to enable autocomplete for your entry description.
          %ti-tag-entry(on="tags" update="saveTags()")
    .row
      .large-12.columns
        %p
          %h3 Projects
          Add projects here to enable autocomplete for your projects
          %ti-tag-entry(on="projects" update="saveProjects")

    .row
      .large-12.columns#notifications
        %p
          %h3 Notifications
          -#.large-12.columns
            -#%input(type="checkbox" ng-model="enableNotifications" name="enableNotifications")
            -#%label(for="enableNotifications")
              -#Enable Notifications?

          %div
            %input(type="checkbox" ng-model="notificationSettings.enableDesktopNotification" name="enableDesktopNotification" ng-change="saveAndRequestDesktopPermission()")
            %label(for="enableDesktopNotification")
              Enable Desktop Notifications?

          %div
            %label(for="notificationInterval")
              Notification Interval (minutes)
            %input(type="number" ng-model="notificationSettings.notificationInterval" name="notificationInterval" ng-change="saveNotificationSettings()")



