<div class="page" id="settings-page" ng-controller="settingsCtrl">
  <div class="page" ng-class="{active: showPage}" >
    <div class="row">
      <a class="close-page" href="#/">&#215;</a>
      <div class="large-12 columns">
        <h2> ZenTimer Settings </h2>
        <p>
          <h3> Tags </h3>
          Add tags here to enable autocomplete for your entry description.

          <ti-tag-entry on="tags" update="saveTags()"></ti-tag-entry>

        </p>
        <p>
          <h3> Projects </h3>
          Add projects here to enable autocomplete for your projects.

          <ti-tag-entry on="projects" update="saveProjects()" suggestion-domain="projects"></ti-tag-entry>

        </p>

      </div>
    </div>
  </div>
</div>
