<div class="page" id="timer-page">
  <div id="timer">
    <div class="row">
      <div class="large-12">
        <div ng-controller="ZenTimerCtrl">

          <div class="row text-center">
            <div class="large-12 columns timer-counter" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()" data-fittext="0.5">

              <a class="timer-toggle">
                <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>
              </a>

            </div>
          </div>

          <div class="row" style="font-weight: 700;" ng-show="timer.savable()">
              <div class="large-6 small-6 columns text-center"  style="font-size: 200%;" ng-click="done(); $event.stopPropagation()" id="timer-actions-save-button">
                <a><i id="timer-actions-save" class="fa fa-check" ></i> 
                  <span> DONE </span> </a>
              </div>

              <div class="large-6 small-6 columns text-center" style="font-size: 200%;" ng-click="delete(); $event.stopPropagation();" id="timer-actions-delete-button">
                <a><i id="timer-actions-delete" class="fa fa-trash-o"  ></i>
                  <span>DELETE</span></a>
              </div>
          </div>


          <div class="row">
            <div class="large-12 large-centered columns tag-list-input">
              <a><i id="timer-actions-close-tag-list" class="fa fa-times-circle fa-fw" ng-show="taglistFocused" ng-click="taglistFocused=false"></i></a>
              <ti-tag-entry on="timer.currentEntry.tag_list" update="timer.currentEntry.persist()" suggestion-domain="suggestions" ></ti-tag-entry>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div ng-controller="EntriesListCtrl" class="row" id="entries">
      <div class="row entry-row my-repeat-animation" ng-repeat="entry in entries | orderBy:'lastTick':true" ng-controller="EntryCtrl">
        <div class="entry" style="display: table; width: 100%;">
          <i class="entry-continue fa fa-play fa-fw" ng-hide="entry.running"  ng-click="continue()"></i>
          <i class="entry-pause fa fa-pause fa-fw" ng-show="entry.running" ng-click="pause()"></i>

          <div class="">
            <div class="entry-top-level-row">
              <div class="entry-top-level-row-elapsed-entry">
                <ti-elapsed-entry model="entry" elapsed="entry.elapsed" disabled="entry.running" ></ti-elapsed-entry>
              </div>
              <div class="entry-top-level-row-project-entry">
                <ti-project-entry on="entry.project" update="entry.persist()" suggestion-domain="projectSuggestions"></ti-project-entry>

              </div>
            </div>
            <ti-tag-entry on="entry.tag_list" suggestion-domain="tagSuggestions" update="entry.persist()"></ti-tag-entry>
          </div>


        </div>

          <div class="entry-row-hidden">
            <div class="large-3 small-3 columns text-center">
            </div>
            <div class="large-3 small-3 columns text-center">
            </div>
            <div class="large-3 small-3 columns text-center">
              <a>
                <i ti-copy copy-source="entry.tag_list" class="fa fa-file fa-fw"></i>
                <br>
              </a>
            </div>
            <div class="large-3 small-3 columns text-center">
              <a ng-click="delete()">
                <i class="fa fa-trash-o fa-fw"></i>
                <br>
              </a>
            </div>
          </div>

      </div>

      <div id="bottom-menu">
        <a id="add-entry" class="large-12 columns text-center" style="font-size: 1.5em;" ng-click="addEntry()">
          <i class="fa fa-plus fa-fw"></i>
        </a>
        <span ng-controller="CreateUserCtrl">
          <div id="left-icons">
            <a id="entries-clear" ng-click="clear()" class="fa fa-trash-o fa-fw" ng-show="entries.length > 0"> </a>
            <a id="create-user" class="fa fa-user fa-fw" ng-click="createUser()" ng-if="!user"> </a>
            <a ng-href="/{{user.token}}" id="create-user" class="fa fa-user fa-fw" ng-click="createUser()" ng-if="user" target="_self" name="ZenTimer" title="Drag me to your bookmarks!"><span style="display: none;">ZenTimer</span></a>
            <a ng-href="#/analytics" id="show-analytics" class="fa fa-bar-chart-o fa-fw" ng-if="user"></a>
          </div>
        </span>
        <span id="bottombar-right">
          <a id="settings-link" class="fa fa-gear fa-fw" href="#/settings"></a>
          <span id="appInfo" ng-controller="helpCtrl">

            <a id="help-link" class="fa fa-question-circle fa-fw" ng-click="displayAppInfo = true"></a>

            <div id="app-info-modal" ti-reveal-modal="displayAppInfo" class="reveal-modal">
              <h2>Welcome To ZenTimer.</h2>
              <p>
                <h3>Keyboard Shortcuts:</h3>
                <ul>
                  <li><kbd>Ctrl-Y</kbd> toggles the current entry.</li>
                  <li><kbd>&gt;</kbd> saves the current entry and starts a new one.</li>
                </ul>
              </p>
              <a class="close-reveal-modal" ng-click="displayAppInfo = false">&#215;</a>
            </div>
          </span>

          <span id="entries-total-elapsed" >
            <ti-elapsed elapsed="totalElapsed()" > </ti-elapsed>
          </span>
        </span>
      </div>

    </div>

  </div>
</div>
