<div class="page" id="timer-page">
  <div id="timer">
    <div class="row">
      <div class="large-12 columns">
        <div ng-controller="ZenTimerCtrl">

          <div class="row text-center">
            <div class="large-12 columns timer-counter" ng-class="{paused: !timer.currentEntry.running, running: timer.currentEntry.running}" ng-click="toggle()" data-fittext="0.5">

              <a class="timer-toggle">
                <ti-elapsed elapsed="timer.currentEntry.elapsed" > </ti-elapsed>
              </a>

            </div>
          </div>

          <div class="row" style="font-weight: 700; line-height: 48px;" ng-show="timer.savable()">
              <div class="large-6 small-6 columns text-center"  style="font-size: 200%;" ng-click="done(); $event.stopPropagation()" id="timer-actions-save-button">
                <a><i id="timer-actions-save" class="fa fa-check" ></i> 
                  <span> DONE </span> </a>
              </div>

              <div class="large-6 small-6 columns text-center" style="font-size: 200%;" ng-click="delete(); $event.stopPropagation();" id="timer-actions-delete-button">
                <a><i id="timer-actions-delete" class="fa fa-trash-o"  ></i>
                  <span>DELETE</span></a>
              </div>
          </div>


          <div class="row">
            <div class="large-12 large-centered columns tag-list-input">
              <a><i id="timer-actions-close-tag-list" class="fa fa-times-circle fa-fw" ng-show="taglistFocused" ng-click="taglistFocused=false"></i></a>
              <ti-tag-entry on="timer.currentEntry.tag_list" update="timer.currentEntry.persist()" suggestion-domain="suggestions" ></ti-tag-entry>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div ng-controller="EntriesListCtrl" class="large-12 columns" id="entries">
      <div class="row entry-row my-repeat-animation" ng-repeat="entry in entries | orderBy:'lastTick':true" ng-controller="EntryCtrl">
        <%= render partial: "entries/entry", locals: { renderControls: true, renderLoggedAt: false } %>

      </div>

      <div id="bottom-menu">

        <div id="left-icons">&nbsp;</div>
        <div id="center-icons">
          <a id="add-entry" style="font-size: 1.5em;" ng-click="addEntry()">
            <i class="fa fa-plus fa-fw"></i>
          </a>
        </div>

        <div id='right-icons'>
          <a id="entries-clear" ng-click="clear()" class="fa fa-trash-o fa-fw" ng-show="entries.length > 0"> </a>
          <span id="entries-total-elapsed" >
            <ti-elapsed elapsed="totalElapsed()" > </ti-elapsed>
          </span>
        </div>

      </div>

    </div>

  </div>
</div>
