.elapsed-entry
  .elapsed-entry-elapsed-input
    background-color: transparent
    line-height: 45px
    border: none
    margin: 0
    outline-color: transparent
    margin: 0 10px 0 0
    color: $font-color
    font-size: 0.6em
    text-align: center
    @media only screen and (min-width: 768px)
      font-size: 0.8em
