.entries-list-item
  transition: all 0.25s ease-in-out
  margin-top: 20px
  padding-top: 10px
  @extend .row
  position: relative

  &:hover
    background-color: $item-color
    .entries-list-item-form-hidden-actions
      display: block

.entries-list-item-form
  display: table
  width: 100%
  input
    width: 100%

.entries-list-item-form-main-inputs
  display: table-cell
  width: 75%

.entries-list-item-form-project
  font-weight: 700
  font-size: 0.8em

.entries-list-item-form-tags
  font-size: 0.8em

.entries-list-item-form-quick-input
  display: table-cell
  vertical-align: middle
  text-align: center
  font-size: 2em

.entries-list-item-form-quick-input
  width: 25%

.entries-list-item-form-hidden-actions
  transition: all 0.1s ease-in-out
  display: none
  height: 20px
  position: absolute
  top: 0
  right: 0
  margin: 10px
