.entries-list-item
  margin-top: 20px
  @extend .row
  border: 1px solid $background-color

  //.tag-entry-tag-item-remove
    //display: none
  //.tags-entry-tag-input
    //display: none

  &:hover
    border: 1px solid $highlight-border-color

.entries-list-item-form
  display: table
  width: 100%
  input
    width: 100%

.entries-list-item-form-main-inputs
  display: table-cell
  width: 60%

.entries-list-item-form-project
  font-weight: 700
  font-size: 0.8em

.entries-list-item-form-tags
  font-size: 0.8em

.entries-list-item-form-flow-controls, .entries-list-item-form-elapsed-input
  display: table-cell
  vertical-align: middle
  text-align: center
  font-size: 2em

.entries-list-item-form-flow-controls
  width: 10%

.entries-list-item-form-elapsed-input
  width: 20%
