.suggestion-list
  background-color: $background-color
  z-index: 3000
  position: absolute
  ul
    list-style: none

.suggestion-list-item
  padding: 5px
  margin: 5px
  cursor: pointer
  border: 1px solid $border-color
