.tags-entry
  .tags-entry-tag-list
    list-style: none
    margin-bottom: 0
    .tags-entry-tag-item
      float: left
      background-color: $dark-blue
      padding: 10px
      margin: 10px 10px 0 0
  .tags-entry-tag-input
    background-color: transparent
    line-height: 45px
    border: none
    margin: 0
    outline-color: transparent
    margin: 10px 10px 0 0
    color: $muted-white
    font-size: 1em
  .tags-entry-suggestion-list
    @extend .suggestion-list
    .tags-entry-suggestion-item
      @extend .suggestion-list-item
