/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Roboto Condensed', sans-serif; font-weight: 300;
  background-color: #2c3e50;
  color: #ecf0f1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


#timer {
  margin-top: 32px;
}

.timer-counter {
  margin-bottom: 32px;
}

#timer h1 {
  color: #ecf0f1;
}

#timer textarea {
  border: none;
  overflow: auto;
  outline: none;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  overflow: hidden;

  background-color: #34495e;
  color: #ecf0f1;
  font-size: 3em;
  transition: all 0.25s ease-in-out;
  height: 100px;
}

#timer textarea:focus {
  height: 400px;
  overflow: scroll-y;
}


.timer-counter {
  color: #ecf0f1;
  font-size: 6.8em;
  padding: 0px
}

.fa-play, .fa-pause, .fa-check {
  cursor: pointer;
}

.fa-play:hover, .fa-pause:hover, .fa-check:hover {
  color: #ecf0f1
}

#branding h1 {
  font-size: 1em;
  color: #ecf0f1;

}

.timer-toggle, .timer-toggle:active {
  color: #ecf0f1;
  transition: all 0.25s ease-in-out;
}
.timer-toggle:hover {
  color: #ecf0f1
}
.timer-toggle.paused {
  color: #95a5a6
}

.entry-row {
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
}

.entry-row:hover {
  background-color: #34495e;
}

.entry-time, .entry-description {
  font-size: 3em;
  color: #bdc3c7;
}

.entry-time.active, .entry-description.active {
  color: #ecf0f1;
}

.description-input {
  padding-left: 0;
  padding-right: 0;
}
