<!DOCTYPE html>
<html>
<head>
  <title>NgRailsTimeTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="app">
    <div ng-controller="TimerCtrl" ng-init="timer.init()">
      <button ng-click="start()" ng-hide="timer.running()">Start</button>
      <button ng-click="pause()" ng-show="timer.running()">Pause</button>
      <button ng-click="save()">Save</button>
      <input ng-model="timer.currentEntry.description"></input>
      <ti-elapsed elapsed="timer.currentEntry.elapsed"> {{ hours }} : {{ minutes }} : {{ seconds }} </ti-elapsed>
    </div>

    <div ng-controller="EntriesListCtrl">
      <ul>
        <li ng-repeat="entry in entries">
          <b ng-show="entry.running"> -> </b>
          {{ entry.description }}
          <ti-elapsed elapsed="entry.elapsed"> {{ hours }} : {{ minutes }} : {{ seconds }} </ti-elapsed>
          <button ng-click="continueEntry(entry)" ng-hide="entry.running">Continue</button>

        </li>
      </ul>
    </div>
  </div>
</body>
</html>
