<!DOCTYPE html>
<html>
<head>
  <title>NgRailsTimeTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="app">
    <div ng-controller="TimerCtrl" ng-init="timer.init()">
      <button ng-click="start()">Start</button>
      <button ng-click="pause()">Pause</button>
      {{ timer.currentEntry.description }}
      <ti-elapsed elapsed="timer.currentEntry.elapsed"> {{ hours }} : {{ minutes }} : {{ seconds }} </ti-elapsed>
    </div>
  </div>
</body>
</html>
